{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<aside>
    <div class="col">
        <p>
            Chat creator: {{ chat.creator }}
        </p>
            Chat members:
        <p></p>
            {% for member in chat.members.all%}
                <p>
                    {{ member.username }}
                </p>
            {% endfor %}
        <p>
            <a href="{% url 'chats:chat_create' %}">Create new chat</a>
        </p>
        <p>
            <a href="{% url 'chats:chat_delete' chat.pk %}">Delete this chat</a>
        </p>
    </div>
</aside>

<textarea id="chat-log" cols="50" rows="10"></textarea><br>
<input id="chat-message-input" type="text" size="50"><br>
<input id="chat-message-submit" type="button" value="Send">


{{ chat_pk|json_script:"chat_pk" }}
{{ all_messages|json_script:"all_messages" }}



<script>

    const chatNum = JSON.parse(document.getElementById("chat_pk").textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/wss/chat/'
        + chatNum
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>

{% endblock content %}